.idea
.git
.gitignore
**/.env.development
**/.env.production
.env.development
.env.production
*.md

node_modules
npm-debug.log
yarn-debug.log

**/dist
**/build
**/.next
**/.nuxt
**/private_key.pem

.vscode
.idea
*.swp
*.swo

.DS_Store
Thumbs.db

logs
*.log

coverage